/* IMPORT MAIN STYLES */
@use 'colors.scss';
@use 'reset.scss';
@use 'typography.scss';

/* IMPORT SCSS MODULES */
@use 'modules/mediaBlock.module.scss';
@use 'modules/post.module.scss';

/* FLEXBOX */

.flex {
    display: flex;
    flex-direction: column;
}

.flex > * {
    flex-grow: 1;
}

/* GRIDS */

/* COLUMNS */

/* Create a 12 Column grid */
.grid-12col {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
}

@media screen and (max-width: 1280px) {
    .grid-12col {
        grid-template-columns: repeat(8, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .grid-12col {
        grid-template-columns: repeat(4, 1fr);
        padding: 0 1.5rem;
    }
}

/* Span content across 8 columns */
.grid-span-8col {
    grid-column: 3 / span 8;
}

@media screen and (max-width: 1280px) {
    .grid-span-8col {
        grid-column: 2 / span 6;
    }
}

@media screen and (max-width: 768px) {
    .grid-span-8col {
        grid-column: 1 / span 4;
    }
    
}

/* Span content across 4 columns */
.grid-span-4col {
    grid-column: span 4;
}

/* Span content across 3 columns */
.grid-span-3col {
    grid-column: span 3;
}

/* PAGE TYPE: POST */

article.content h1,
article.content h2,
article.content h3,
article.content h4,
article.content h5,
article.content h6 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
}

article.content p {
    flex: 50%;
}

/* TEMPORARY DEV STYLES */

header, footer {
    display: none;
}